.sidebar-chat {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.sidebar-chat:hover, .sidebar-chat.sticky:hover  {
  background-color: #ebebeb;
}

.sidebar-chat__info > h2 {
  font-size: 16px;
  margin-bottom: 4px;
}

.sidebar-chat__info > p {
  color: gray;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
           line-clamp: 2;
   -webkit-box-orient: vertical;
}

.sidebar-chat__info {
  margin-left: 16px;
}

.sidebar-chat.sticky {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
}

.active .sidebar-chat {
  background: rgb(126,86,217, 0.1);
}