.login {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #111827;
}

.login__container {
  text-align: center;
}

.login__container > img {
  object-fit: container;
  height: 100px;
  margin-bottom: 42px;
}

.login__container > button {
  padding: 12px 24px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgb(31 41 55 / .75);
  color: #fff
}

.login__container > button:hover {
  opacity: 0.8;
  color: #f6f7f9;
  background-color: rgb(31 41 55 / .75);
}